@font-face {
  font-family: 'HelveticaRegular';
  src: url(../fonts/HelveticaRegular.ttf);
}
@font-face {
  font-family: 'HelveticaHeavy';
  src: url(../fonts/HelveticaHeavy.ttf);
}
@font-face {
  font-family: 'HelveticaThin';
  src: url(../fonts/HelveticaThin.ttf);
}
